.detail-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.important-info{
  width: 73%;
  height: 30rem;
  display: flex;
}

.image-container-detail {
  display: flex;
  width: 100%;
}

.image-container-detail img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.info{
  position: relative;
  width: 90%;
  height: 100%;
  color: rgb(243, 196, 57);
  background-color: rgb(22, 61, 48);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.time{
  column-gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1.5px solid rgb(243, 196, 57);
}

.clock{
  font-size: 25px;
}

.id{
  position: absolute;
  top: 2%;
  left: 1.5%;
  color: rgb(69, 123, 102);
  padding: 8px;
}

.step-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.column{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
  column-gap: 20px;
  padding-bottom: 60px;
}

.ingredients{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  min-height: 60px;
  height: 100%;
  font-size: 20px;
  border: 1px solid rgb(100, 184, 151);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 99px 60px, rgba(0, 0, 0, 0.03) 0px 44px 44px, rgba(0, 0, 0, 0.03) 0px 11px 24px, rgba(0, 0, 0, 0.03) 0px 0px 0px;
  height: max-content;
  padding: 22px 16px;
}


.ingredients p{
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  width: 90%;
  border-bottom: solid 1px rgba(184, 179, 179, 0.8);
  color: rgb(69, 123, 102);
  font-weight: 500;
}

.ingredients h4{
  color: rgb(22, 61, 48);
  font-size: 22px;
  line-height: 33px;
  margin-left: 10px;
}

.instructions{
  padding: 22px 16px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.instructions h4{
  top: 0;
  left: 0;
  color: rgb(22, 61, 48);
  font-size: 22px;
  line-height: 33px;
  margin-left: 10px;
}

.instructions li{
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  width: 90%;
  color: rgb(69, 123, 102);
  font-weight: 500;
}

.diet{
  width: 100%;
  color: rgb(218, 215, 208);
  font-size: 20px;
  /* border: 1.5px solid rgb(243, 196, 57); */
}

.summary{
  display: flex;
  flex-direction: column;
  width: 73%;
  height: 100%;
  margin-top: 20px;
  padding: 30px;
  font-family: Poppins,sans-serif;
  font-size: 18px;
  color: rgb(69, 123, 102);
  line-height: 20px;
  background-color: rgb(229, 231, 180);
}

.summary h4 {
  color: rgb(22, 61, 48);
  font-size: 22px;
  line-height: 33px;
}